<ion-item
  class="autoCompleteItem"
  [class.selectable]="!disabled"
  [title]="description"
  (click)="fetchDataAndOpenModal()"
>
  <span
    class="itemLabel"
    *ngIf="label"
  >
    {{ label }}
    <span
      class="obligatory"
      *ngIf="obligatory && !disabled"
    >
      *
    </span>
  </span>
  <span
    class="description"
  >
    {{ description }}&nbsp;
    <span
      class="placeholder"
      *ngIf="!description && !disabled"
    >
      {{ placeholder }}
    </span>
  </span>
  <ion-icon
    item-end
    name="md-arrow-dropdown"
    class="selectIcon"
    *ngIf="!disabled"
  ></ion-icon>
</ion-item>