<ion-header>
  <ion-toolbar
    [color]="toolbarBgColor"
  >
    <ion-buttons
      left
    >
      <button
        ion-button icon-only [color]="toolbarColor"
        (click)="select({ value: value })"
      >
        <ion-icon
          name="ios-arrow-down"
        ></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="searchPlaceholder"
      (ionInput)="getSuggestions($event)"
      [debounce]="100"
    ></ion-searchbar>
    <ion-buttons
      right
    >
      <button
        ion-button icon-only [color]="toolbarColor"
        (click)="select({ value: '' })"
      >
        <ion-icon
          name="backspace"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="suggestionsList">
    <ion-item
      *ngIf="!suggestions.length && !allowUnlistedValues && noSuggestionsText"
      class="noSuggestionsFound"
    >
      {{ noSuggestionsText }}
    </ion-item>
    <ion-item
      tappable
      *ngIf="allowUnlistedValues && searchbar.value"
      class="suggestion looseValue"
      (click)="select({ value: searchbar.value })"
    >
      {{ searchbar.value }}
    </ion-item>
    <ion-item
      tappable
      class="suggestion"
      *ngFor="let suggestion of suggestions"
      (click)="select(suggestion)"
    >
      <span
        [innerHTML]='(suggestion.name || suggestion.value) | boldprefix:searchbar.value'
      ></span>
      <p
        *ngIf="suggestion.name && !hideIdFromUI"
        [innerHTML]='suggestion.value | boldprefix:searchbar.value'
      >
      </p>
    </ion-item>
  </ion-list>
</ion-content>