<ion-header>
  <ion-toolbar
  >
    <ion-buttons
      left
    >
      <button
        ion-button icon-only
        color="light"
        (click)="close()"
      >
        <ion-icon
          name="close"
        ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons
      right
    >
      <button
        ion-button icon-only
        color="light"
        (click)="confirm()"
      >
        <ion-icon
          name="checkmark"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content
  padding
>
  <h2
    class="header"
    *ngIf="header"
  >
    {{ header }}
  </h2>
  <p
    class="description"
    *ngIf="description"
  >
    {{ description }}
  </p>
  <p
    class="variables"
    *ngIf="variables?.length"
  >
    <b>
      {{ 'IDEA.MDE.VARIABLES' | translate }}:
    </b>
    <span
      *ngFor="let v of variables"
    >
      {{ v+' ' }}
    </span>
  </p>
  <textarea
    [id]="id"
  ></textarea>
</ion-content>
