IDEAOfflineBarComponent {
  .offlineBar {
    .toolbar {
      height: 25px !important;
      min-height: auto !important;
      .toolbar-background {
        background-color: #333;
      }
      .toolbar-title {
        font-size: 1.1rem;
        color: white;
      }
      b {
        padding-right: 5px;
      }
      ion-icon {
        margin-right: 10px;
        vertical-align: text-bottom;
      }
      ion-spinner {
        margin-right: 5px;
        width: 9px;
        height: 9px;
      }
    }
    .toolbar-ios ion-title {
      padding: 0 20px;
    }
  }
}