IDEAForgotPwdComponent {
  ion-content {
    background-color: white !important;
  }
  .theCard {
    margin: 20px auto;
    max-width: 400px;
    box-shadow: none;
    color: #777;
    background-color: white;
    ion-item {
      background-color: white;
    }
  }
  .theTitle {
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
  }
  .theText {
    font-size: 1.1em;
    text-align: center;
    margin: 25px 0;
    color: #777;
  }
  ion-label {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
  }
  button {
    margin-top: 40px !important;
  }
  .theInfo {
    margin-top: 20px;
    text-align: center;
  }
}
