<ion-content>
  <div *ngIf="mode=='R'">
    <form (ngSubmit)="forgotPassword()">
      <ion-card class="theCard">
        <div class="theTitle">
          <span ion-text color="primary">{{ 'IDEA.AUTH.PASSWORD_RESET' | translate }}</span>
        </div>
        <div class="theText">
          {{ 'IDEA.AUTH.PASSWORD_RESET_HINT' | translate }}
        </div>
        <ion-list>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.USERNAME' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button default full>{{ 'IDEA.AUTH.RESET_MY_PASSWORD' | translate }}</button>
          </ion-item>
        </ion-list>
         <div class="theInfo">
           <a ion-text href="#" (click)="mode = 'C'" color="primary">
            {{ 'IDEA.AUTH.I_ALREADY_HAVE_A_RESET_CODE' | translate }}
          </a>
        </div>
        <div class="theInfo">
          <a ion-text href="#" (click)="goToLogin()" color="primary">
            {{ 'IDEA.AUTH.BACK_TO_SIGN_IN' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
  <div *ngIf="mode=='C'">
    <form (ngSubmit)="confirmPassword()">
      <ion-card class="theCard">
        <div class="theTitle">
          <span ion-text color="primary">{{ 'IDEA.AUTH.CHANGE_THE_PASSWORD' | translate }}</span>
        </div>
        <div class="theText">
          <i>{{ 'IDEA.AUTH.CHANGE_THE_PASSWORD_HINT' | translate:{ 'n':8 } }}</i>
        </div>
        <ion-list>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.USERNAME' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.RESET_CODE' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="code"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.NEW_PASSWORD' | translate }}</ion-label>
            <ion-input type="password" [(ngModel)]="newPassword"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button default full>
              {{ 'IDEA.AUTH.CHANGE_MY_PASSWORD' | translate }}
            </button>
          </ion-item>
        </ion-list>
        <div class="theInfo">
          <a ion-text href="#" (click)="mode = 'R'" color="primary">
            {{ 'IDEA.AUTH.I_HAVEN_T_RECEIVED_A_RESET_CODE' | translate }}
          </a>
        </div>
        <div class="theInfo">
          <a ion-text href="#" (click)="goToLogin()" color="primary">
            {{ 'IDEA.AUTH.BACK_TO_SIGN_IN' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
</ion-content>
