<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button icon-only color="primary" (click)="changeMonth(-1)">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ monthToShow }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="changeMonth(+1)">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
      <button ion-button icon-only color="primary" (click)="selectDate()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="cal">
    <ion-row class="calHeader">
      <ion-col text-center>{{ 'IDEA.CALENDAR.MONDAY_SHORT' | translate }}</ion-col>
      <ion-col text-center>{{ 'IDEA.CALENDAR.TUESDAY_SHORT' | translate }}</ion-col>
      <ion-col text-center>{{ 'IDEA.CALENDAR.WEDNESDAY_SHORT' | translate }}</ion-col>
      <ion-col text-center>{{ 'IDEA.CALENDAR.THURSDAY_SHORT' | translate }}</ion-col>
      <ion-col text-center>{{ 'IDEA.CALENDAR.FRIDAY_SHORT' | translate }}</ion-col>
      <ion-col text-center>{{ 'IDEA.CALENDAR.SATURDAY_SHORT' | translate }}</ion-col>
      <ion-col text-center>{{ 'IDEA.CALENDAR.SUNDAY_SHORT' | translate }}</ion-col>
    </ion-row>
    <ion-row *ngFor="let row of calendarGrid; let i = index" align-items-center>
      <ion-col *ngFor="let col of row; let j = index" text-center>
        <button ion-button clear
          [class.notInThisMonth]="refDate.getMonth()!=calendarGrid[i][j].getMonth()"
          [class.today]="today.toISOString().slice(0,10)==calendarGrid[i][j].toISOString().slice(0,10)"
          [class.selected]="selectedDate.toISOString().slice(0,10)==calendarGrid[i][j].toISOString().slice(0,10)"
          (click)="selectDate(calendarGrid[i][j])"
        >{{ calendarGrid[i][j] | date:'d' }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
