IDEACalendarComponent {
  .cal {
    background-color: white;
    ion-col {
      padding: 0px;
    }
  }
  .calRow {
    ion-col {
      margin: 5px 0;
      font-size: 1.2em;
    }
  }
  .daysRow {
    margin-top: 20px;
    font-weight: 600;
  }
  .dayButton {
    color: #444;
    font-weight: normal;
    font-size: 1.8rem;
    height: 35px;
    width: 35px;
  }
  .notInThisMonth {
    color: #AAA;
  }
  .today {
    border: 1px solid color($colors, primary);
  }
  .selected, .selected:hover {
    background-color: color($colors, primary) !important;
    color: white !important;
  }
}
