<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons
      end
    >
      <button
        ion-button icon-only
        [title]="t.instant('IDEA.CALENDAR.RESET')"
        (click)="save(true)"
      >
        <ion-icon
          name="undo"
        ></ion-icon>
      </button>
      <button
        ion-button icon-only
        (click)="save()"
      >
        <ion-icon
          name="close"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>{{ 'IDEA.CALENDAR.SET_DATE' | translate }}</h1>
  <ion-grid
    class="aGrid"
  >
    <ion-row>
      <ion-col
        col-5
        text-center
      >
        <ion-row
          align-items-center justify-content-center
        >
          <ion-col
            col-3 text-right
          >
            <button
              ion-button icon-only clear
              class="dark"
              (click)="addYears(-1)"
            >
              <ion-icon
                name="ios-arrow-back"
              ></ion-icon>
            </button>
          </ion-col>
          <ion-col
            col-6 text-center tappable
          >
            <ion-input
              type="text"
              class="yearSelector"
              [placeholder]="t.instant('IDEA.CALENDAR.YEAR')"
              [value]="refDate.getFullYear()"
              (ionFocus)="$event.value = ''"
              (ionChange)="setYear($event)"
            >
            </ion-input>
          </ion-col>
          <ion-col
            col-3 text-left
          >
            <button
              ion-button icon-only clear
              class="dark"
              (click)="addYears(+1)"
            >
              <ion-icon
                name="ios-arrow-forward"
              ></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col
        col-7
        text-center
      >
        <ion-row
          align-items-center
        >
          <ion-col
            col-3 text-right
          >
            <button
              ion-button icon-only clear
              class="dark"
              (click)="addMonths(-1)"
            >
              <ion-icon
                name="ios-arrow-back"
              ></ion-icon>
            </button>
          </ion-col>
          <ion-col
            col-6 text-center tappable
            (click)="showMonths()"
          >
            {{ d.d2lm(refDate) }}
          </ion-col>
          <ion-col
            col-3 text-left
          >
            <button
              ion-button icon-only clear
              class="dark"
              (click)="addMonths(+1)"
            >
              <ion-icon
                name="ios-arrow-forward"
              ></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row
      class="daysRow"
    >
      <ion-col
        text-center
      >
        {{ 'IDEA.CALENDAR.MONDAY_SHORT' | translate }}
      </ion-col>
      <ion-col
      text-center
      >
        {{ 'IDEA.CALENDAR.TUESDAY_SHORT' | translate }}
      </ion-col>
      <ion-col
        text-center
      >
        {{ 'IDEA.CALENDAR.WEDNESDAY_SHORT' | translate }}
      </ion-col>
      <ion-col
        text-center
      >
        {{ 'IDEA.CALENDAR.THURSDAY_SHORT' | translate }}
      </ion-col>
      <ion-col
        text-center
      >
        {{ 'IDEA.CALENDAR.FRIDAY_SHORT' | translate }}
      </ion-col>
      <ion-col
        text-center
      >
        {{ 'IDEA.CALENDAR.SATURDAY_SHORT' | translate }}
      </ion-col>
      <ion-col
        text-center
      >
        {{ 'IDEA.CALENDAR.SUNDAY_SHORT' | translate }}
      </ion-col>
    </ion-row>
    <ion-row
      align-items-center
      *ngFor="let row of calendarGrid; let i = index"
    >
      <ion-col
        text-center
        *ngFor="let col of row; let j = index"
      >
        <button
          ion-button clear
          class="aButton"
          [class.notInThisMonth]="refDate.getMonth() != calendarGrid[i][j].getMonth()"
          [class.today]="d.isSameDay(calendarGrid[i][j])"
          [class.selected]="d.isSameDay(selectedDate, calendarGrid[i][j])"
          (click)="selectDate(calendarGrid[i][j])"
        >
          {{ calendarGrid[i][j] | date:'d' }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1
    *ngIf="timePicker"
    >
    {{ 'IDEA.CALENDAR.SET_TIME' | translate }}
  </h1>
  <ion-grid
    class="aGrid"
    *ngIf="timePicker"
  >
    <ion-row
      align-items-center
    >
      <ion-col
        col-7
      >
        <ion-row>
          <ion-col
            col-2
            text-center
            *ngFor="let hour of hours"
          >
            <button
              ion-button clear
              class="aButton"
              [class.selected]="isSameHour(hour)"
              (click)="selectHour(hour)"
            >
              {{ hour }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col
        col-1 text-center
        class="separator"
      >
        :
      </ion-col>
      <ion-col
        col-4
      >
        <ion-row>
          <ion-col
            col-4
            text-center
            *ngFor="let minute of minutes"
          >
            <button
              ion-button clear
              class="aButton"
              [class.selected]="isSameMinute(minute)"
              (click)="selectMinute(minute)"
            >
              {{ minute }}
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar
    tappable
    (click)="save()"
  >
    <ion-title
      text-center
    >
      <ion-icon
        name="checkmark"
      ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-footer>
