<ion-item
  class="dateTimeItem"
  [title]="placeholder || label"
  (click)="openCalendarPicker()"
>
  <ion-icon
    item-start
    *ngIf="icon"
    [name]="icon"
  ></ion-icon>
  <span
    class="itemLabel"
    *ngIf="!icon && label"
    [class.selectable]="!disabled"
  >
    {{ label }}
    <span
      class="obligatory"
      *ngIf="obligatory && !disabled"
    >
      *
    </span>
  </span>
  <span
    class="value"
    [class.selectable]="!disabled"
  >
    <span
      class="placeholder"
      *ngIf="!getValue() && !disabled"
      [class.selectable]="!disabled"
    >
      {{ placeholder }}
    </span>
    {{ getValue() }}&nbsp;
  </span>
  <ion-icon
    item-end
    name="md-arrow-dropdown"
    class="selectIcon"
    *ngIf="!disabled"
    [class.selectable]="!disabled"
  ></ion-icon>
</ion-item>