<ion-item
  class="dateTimeItem"
  [class.selectable]="!disabled"
  [title]="date ? timePicker ? d.dt2l(date,false,false,true) : d.d2l(date,false,false,true) : ''"
  (click)="openCalendarPicker()"
>
  <span
    class="itemLabel"
    *ngIf="label"
  >
    {{ label }}
    <span
      class="obligatory"
      *ngIf="obligatory && !disabled"
    >
      *
    </span>
  </span>
  <span
    class="value"
  >
    {{ date ? timePicker ? d.dt2l(date,false,false,true) : d.d2l(date,false,false,true) : null }}
    &nbsp;
    <span
      class="placeholder"
      *ngIf="!date && !disabled"
    >
      {{ placeholder }}
    </span>
  </span>
  <ion-icon
    item-end
    name="md-arrow-dropdown"
    class="selectIcon"
    *ngIf="!disabled"
  ></ion-icon>
</ion-item>