IDEADateTimeComponent {
  .dateTimeItem {
    .itemLabel, .value {
      align-self: stretch;
      width: auto;
      max-width: 100%;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .itemLabel {
      font-size: 1.2rem;
      margin-bottom: 7px;
    }
    .value {
      min-height: 20px;
      color: $text-color;
    }
    .placeholder {
      font-style: italic;
      color: #999;
    }
    .selectIcon {
      margin: 20px 5px 0 0;
      font-size: 2rem;
      color: #999;
    }
  }
  .selectable {
    cursor: pointer
  }
}