<ion-content>
  <form (ngSubmit)="login()">
    <ion-card class="theCard">
      <img src="assets/icons/icon.png" class="theLogo">
      <div class="theTitle">
        <span ion-text color="primary">{{ title }}</span>
      </div>
      <div class="theText" *ngIf="t.instant('TAGLINE')">
        {{ 'IDEA.TAGLINE' | translate }}
      </div>
      <ion-list>
        <ion-item>
          <ion-label inline>{{ 'IDEA.AUTH.USERNAME' | translate }}</ion-label>
          <ion-input type="text" autocorrect="off" autocapitalize="none"
            [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label inline>{{ 'IDEA.AUTH.PASSWORD' | translate }}</ion-label>
          <ion-input type="password"
            [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button default full>{{ 'IDEA.AUTH.SIGN_IN' | translate }}</button>
        </ion-item>
      </ion-list>
      <div class="theInfo" *ngIf="registrationPossible">
        <a ion-text (click)="goToRegistration()" color="primary">
          {{ 'IDEA.AUTH.I_DON_T_HAVE_AN_ACCOUNT' | translate }}
        </a>
      </div>
      <div class="theInfo">
        <a ion-text (click)="goToForgotPassword()" color="primary">
          {{ 'IDEA.AUTH.I_FORGOT_MY_PASSWORD' | translate }}
        </a>
      </div>
      <div class="theInfo" *ngIf="website">
        <a ion-text color="secondary" href="{{ website }}" target="_blank" rel="noopener">
          {{ 'IDEA.AUTH.DISCOVER_MORE' | translate }}
        </a>
      </div>
      <div class="theInfo" *ngIf="showIDEALogo">
        <a ion-text href="https://iter-idea.com" target="_blank" rel="noopener">
          <img src="/assets/icons/idea.png" class="logoIdea">
        </a>
      </div>
    </ion-card>
  </form>
</ion-content>
