<video id="authVideo" *ngIf="showVideo" muted="true" playsinline loop preload="auto" autoplay
  [attr.poster]="platform.is('android') ? './assets/imgs/auth.png' : null"
>
  <source src="./assets/videos/auth.mov" type="video/mp4">
  <img src="./assets/imgs/auth.png">
</video>
<img src="./assets/imgs/auth.png" id="authImage" *ngIf="!showVideo">
<ion-content>
  <br /><br /><br />
  <div *ngIf="mode=='R'">
    <form (ngSubmit)="register()">
      <ion-card class="aCard">
        <h1 class="theTitle">{{ 'IDEA.AUTH.NEW_ACCOUNT' | translate }}</h1>
        <h2 class="theTagline">
          {{ 'IDEA.AUTH.REGISTER_A_NEW_ACCOUNT_TO_THE_SYSTEM' | translate }}
        </h2>
        <p *ngIf="errorMsg" class="theMessage error" >
          <b>{{ 'IDEA.AUTH.ERROR_DETAIL' | translate }}:</b> {{ errorMsg }}
        </p>
        <ion-list>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="body"></ion-icon></ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="name" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.FULL_NAME' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="contact"></ion-icon></ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.USERNAME' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="mail"></ion-icon></ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="email" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.EMAIL' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="key"></ion-icon></ion-label>
            <ion-input type="password"
              [(ngModel)]="password" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.PASSWORD' | translate }}"
            ></ion-input>
          </ion-item>
          <button ion-button outline class="aButton">{{ 'IDEA.AUTH.SIGN_UP' | translate }}</button>
        </ion-list>
        <div class="someInfo">
          <a ion-text (click)="mode='S'" tappable>
            {{ 'IDEA.AUTH.HAVEN_T_RECEIVED_CONFIRMATION_CODE' | translate }}
            <b>{{ 'IDEA.AUTH.CLICK_HERE' | translate }}</b>
          </a>
        </div>
        <div class="someInfo">
          <a ion-text (click)="mode='C'" tappable>
            {{ 'IDEA.AUTH.ALREADY_HAVE_A_CONFIRMATION_CODE' | translate }}
            <b>{{ 'IDEA.AUTH.CLICK_HERE' | translate }}</b>
          </a>
        </div>
        <div class="someInfo">
          <a ion-text (click)="goToLogin()" tappable>
            ≪ {{ 'IDEA.AUTH.BACK_TO_SIGN_IN' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
  <div *ngIf="mode=='C'">
    <form (ngSubmit)="confirmRegistration()">
      <ion-card class="aCard">
        <h1 class="theTitle">{{ 'IDEA.AUTH.CONFIRM_A_REGISTRATION' | translate }}</h1>
        <h2 class="theTagline">
          {{ 'IDEA.AUTH.CONFIRM_A_REGISTRATION_HINT' | translate }}
        </h2>
        <p *ngIf="errorMsg" class="theMessage error">
          <b>{{ 'IDEA.AUTH.ERROR_DETAIL' | translate }}:</b> {{ errorMsg }}
        </p>
        <ion-list>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="contact"></ion-icon></ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.USERNAME_OR_EMAIL' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="disc"></ion-icon></ion-label>
            <ion-input type="text" [(ngModel)]="code" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.CONFIRMATION_CODE' | translate }}"
            ></ion-input>
          </ion-item>
          <button ion-button outline class="aButton">
            {{ 'IDEA.AUTH.CONFIRM_REGISTRATION' | translate }}
          </button>
        </ion-list>
        <div class="someInfo">
          <a ion-text (click)="mode='R'" tappable>
            ≪ {{ 'IDEA.AUTH.BACK_TO_REGISTRATION' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
  <div *ngIf="mode=='S'">
    <form (ngSubmit)="resendConfirmationCode()">
      <ion-card class="aCard">
        <h1 class="theTitle">{{ 'IDEA.AUTH.RESEND_CONFIRMATION_CODE' | translate }}</h1>
        <h2 class="theTagline">
          {{ 'IDEA.AUTH.RESEND_CONFIRMATION_CODE_HINT' | translate }}
        </h2>
        <p *ngIf="errorMsg" class="theMessage error">
          <b>{{ 'IDEA.AUTH.ERROR_DETAIL' | translate }}:</b> {{ errorMsg }}
        </p>
        <ion-list>
          <ion-item class="anInput">
            <ion-label inline><ion-icon name="contact"></ion-icon></ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{ standalone: true }"
              placeholder="{{ 'IDEA.AUTH.USERNAME' | translate }}"
            ></ion-input>
          </ion-item>
          <button ion-button outline class="aButton">
            {{ 'IDEA.AUTH.RESEND_CODE' | translate }}
          </button>
        </ion-list>
        <div class="someInfo">
          <a ion-text (click)="mode='R'" tappable>
            ≪ {{ 'IDEA.AUTH.BACK_TO_REGISTRATION' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
</ion-content>
