<ion-content>
  <div *ngIf="mode=='R'">
    <form (ngSubmit)="register()">
      <ion-card class="theCard">
        <div class="theTitle">
          <span ion-text color="primary">{{ 'IDEA.AUTH.NEW_ACCOUNT' | translate }}</span>
        </div>
        <div class="theText">
          {{ 'IDEA.AUTH.REGISTER_A_NEW_ACCOUNT_TO_THE_SYSTEM' | translate }}
        </div>
        <div class="theText errorMsg" *ngIf="errorMsg">
          <b>{{ 'IDEA.AUTH.ERROR_DETAIL' | translate }}:</b> {{ errorMsg }}
        </div>
        <ion-list>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.FULL_NAME' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
              placeholder="{{ 'IDEA.AUTH.NAME_PLACEHOLDER' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.USERNAME' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
              placeholder="{{ 'IDEA.AUTH.USERNAME_PLACEHOLDER' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.EMAIL' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
              placeholder="{{ 'IDEA.AUTH.EMAIL_PLACEHOLDER' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.PASSWORD' | translate }}</ion-label>
            <ion-input type="password"
              [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
              placeholder="{{ 'IDEA.AUTH.PASSWORD_PLACEHOLDER' | translate:{ 'n':8 } }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button default full>{{ 'IDEA.AUTH.SIGN_UP' | translate }}</button>
          </ion-item>
        </ion-list>
        <div class="theInfo">
          <a ion-text (click)="mode='S'" color="primary">
            {{ 'IDEA.AUTH.I_HAVEN_T_RECEIVED_CONFIRMATION_CODE' | translate }}
          </a>
        </div>
        <div class="theInfo">
          <a ion-text (click)="mode='C'" color="primary">
            {{ 'IDEA.AUTH.I_HAVE_A_CONFIRMATION_CODE' | translate }}
          </a>
        </div>
        <div class="theInfo">
          <a ion-text (click)="goToLogin()" color="primary">
            {{ 'IDEA.AUTH.BACK_TO_SIGN_IN' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
  <div *ngIf="mode=='C'">
    <form (ngSubmit)="confirmRegistration()">
      <ion-card class="theCard">
        <div class="theTitle">
          <span ion-text color="primary">{{ 'IDEA.AUTH.CONFIRM_A_REGISTRATION' | translate }}</span>
        </div>
        <div class="theText">
          {{ 'IDEA.AUTH.CONFIRM_A_REGISTRATION_HINT' | translate }}
        </div>
        <div class="theText errorMsg" *ngIf="errorMsg">
          <b>{{ 'IDEA.AUTH.ERROR_DETAIL' | translate }}:</b> {{ errorMsg }}
        </div>
        <ion-list>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.USERNAME' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.CONFIRMATION_CODE' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="code"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button default full>{{ 'IDEA.AUTH.CONFIRM_REGISTRATION' | translate }}</button>
          </ion-item>
        </ion-list>
        <div class="theInfo">
          <a ion-text (click)="mode='R'" color="primary">
            {{ 'IDEA.AUTH.BACK_TO_REGISTRATION' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
  <div *ngIf="mode=='S'">
    <form (ngSubmit)="resendConfirmationCode()">
      <ion-card class="theCard">
        <div class="theTitle">
          <span ion-text color="primary">{{ 'IDEA.AUTH.RESEND_CONFIRMATION_CODE' | translate }}</span>
        </div>
        <div class="theText">
          {{ 'IDEA.AUTH.RESEND_CONFIRMATION_CODE_HINT' | translate }}
        </div>
        <div class="theText errorMsg" *ngIf="errorMsg">
          <b>{{ 'IDEA.AUTH.ERROR_DETAIL' | translate }}:</b> {{ errorMsg }}
        </div>
        <ion-list>
          <ion-item>
            <ion-label inline>{{ 'IDEA.AUTH.USERNAME' | translate }}</ion-label>
            <ion-input type="text" autocorrect="off" autocapitalize="none"
              [(ngModel)]="username" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button default full>{{ 'IDEA.AUTH.RESEND_CODE' | translate }}</button>
          </ion-item>
        </ion-list>
        <div class="theInfo">
          <a ion-text (click)="mode='R'" color="primary">
            {{ 'IDEA.AUTH.BACK_TO_REGISTRATION' | translate }}
          </a>
        </div>
      </ion-card>
    </form>
  </div>
</ion-content>
