<video
  playsinline loop autoplay
  id="authVideo"
  muted="true" preload="auto"
  *ngIf="showVideo"
  [attr.poster]="platform.is('android') ? './assets/imgs/auth.jpg' : null"
>
  <source
    src="./assets/videos/auth.mp4"
    type="video/mp4"
  >
  <img
    src="./assets/imgs/auth.jpg"
  >
</video>
<img
  id="authImage"
  src="./assets/imgs/auth.jpg"
  *ngIf="!showVideo"
>
<ion-content>
  <div
    *ngIf="mode=='R'"
  >
    <form
      (ngSubmit)="register()"
    >
      <ion-card
        class="aCard"
      >
        <h1
          class="theTitle"
        >
          {{ 'IDEA.AUTH.NEW_ACCOUNT' | translate }}
        </h1>
        <h2
          class="theTagline"
        >
          {{ 'IDEA.AUTH.REGISTER_A_NEW_ACCOUNT_TO_THE_SYSTEM' | translate }}
        </h2>
        <p
          class="theMessage error"
          *ngIf="errorMsg"
        >
          <b>
            {{ 'IDEA.AUTH.ERROR' | translate }}.
          </b>
          {{ errorMsg }}
        </p>
        <ion-list>
          <ion-item
            class="anInput"
          >
            <ion-label
              inline
            >
              <ion-icon name="contact"></ion-icon>
            </ion-label>
            <ion-input
              type="text"
              autocorrect="off"
              autocapitalize="none"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="t.instant('IDEA.AUTH.USERNAME')"
              [(ngModel)]="username"
            ></ion-input>
          </ion-item>
          <ion-item
            class="anInput"
          >
            <ion-label
              inline
            >
              <ion-icon
                name="key"
              ></ion-icon>
            </ion-label>
            <ion-input
              type="password"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="t.instant('IDEA.AUTH.PASSWORD')"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
          <ion-row
            class="privacyPolicyAcceptanceBox"
            *ngIf="t.instant('IDEA.AUTH.PRIVACY_POLICY_URL')"
          >
            <ion-col
              text-center
            >
              <ion-checkbox
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="privacyPolicyCheck"
              ></ion-checkbox>
              {{ 'IDEA.AUTH.PRIVACY_POLICY_CHECK_REGISTRATION' | translate }}
              <a
                ion-text
                color="primary"
                target="_blank"
                rel="noopener"
                [href]="t.instant('IDEA.AUTH.PRIVACY_POLICY_URL')"
              >
                {{ 'IDEA.AUTH.PRIVACY_POLICY' | translate }}
              </a>
            </ion-col>
          </ion-row>
          <button
            ion-button outline
            class="aButton"
            [disabled]="t.instant('IDEA.AUTH.PRIVACY_POLICY_URL') && !privacyPolicyCheck"
          >
            {{ 'IDEA.AUTH.SIGN_UP' | translate }}
          </button>
        </ion-list>
      </ion-card>
    </form>
  </div>
  <div
    *ngIf="mode=='L'"
  >
    <form
      (ngSubmit)="resendConfirmationLink()"
    >
      <ion-card
        class="aCard"
      >
        <h1
          class="theTitle"
        >
          {{ 'IDEA.AUTH.CONFIRM_ACCOUNT' | translate }}
        </h1>
        <h2
          class="theTagline"
        >
          {{ 'IDEA.AUTH.RESEND_CONFIRMATION_LINK_HINT' | translate }}
        </h2>
        <p
          class="theMessage error"
          *ngIf="errorMsg"
        >
          <b>
            {{ 'IDEA.AUTH.ERROR' | translate }}.
          </b>
          {{ errorMsg }}
        </p>
        <ion-list>
          <ion-item
            class="anInput"
          >
            <ion-label
              inline
            >
              <ion-icon
                name="contact"
              ></ion-icon>
            </ion-label>
            <ion-input
              type="text"
              autocorrect="off"
              autocapitalize="none"
              [ngModelOptions]="{ standalone: true }"
              [placeholder]="t.instant('IDEA.AUTH.USERNAME')"
              [(ngModel)]="username"
            ></ion-input>
          </ion-item>
          <button
            ion-button outline
            class="aButton"
          >
            {{ 'IDEA.AUTH.RESEND_LINK' | translate }}
          </button>
        </ion-list>
      </ion-card>
    </form>
  </div>
  <ion-card
    class="aCard"
  >
    <div
      class="someInfo"
      *ngIf="mode!='L'"
    >
      <a
        ion-text tappable
        (click)="mode='L'"
      >
        {{ 'IDEA.AUTH.HAVEN_T_RECEIVED_CONFIRMATION_LINK' | translate }}
        <b>
          {{ 'IDEA.AUTH.CLICK_HERE' | translate }}
        </b>
      </a>
    </div>
    <div
      class="someInfo"
    >
      <a
        ion-text tappable
        (click)="goToLogin()"
      >
        ≪ {{ 'IDEA.AUTH.BACK_TO_SIGN_IN' | translate }}
      </a>
    </div>
  </ion-card>
</ion-content>
